<header class="action-bar">
    <a href="javascript: void(0);" class="app-icon action">
      <i class="icon-fries fa fa-file-text"></i>
    </a>
    <h1 class="title">MyNotes</h1>
</header>

<div class="content">
    <nav class="tab-fixed">
      <ul class="tab-inner">
        <li><a href="#/list" data-ignore="true"><i class="fa fa-list fa-2x"></i></a></li>
        <li class="active"><a href="#/add" data-ignore="true"><i class="fa fa-plus-circle fa-2x"></i></a></li>
      </ul>
    </nav>
    
    <div class="content">
        <div class="inset">
            <form class="form-flex" name="addingform" id="addingform" ng-submit="submit()">
              <label class="block-label">Adicionar anotação</label>

              <div class="flex-group">
                <span class="flex1 input-pretty"><input type="text" class="input-text" ng-model="title" placeholder="Digite o título" name="title" id="title"></span>
              </div>

              <div class="flex-group">
                  <span class="flex1 input-pretty">
                      <textarea type="text" class="input-text" placeholder="Digite sua anotação" ng-model="content" name="content" id="content" rows="10"></textarea>
                  </span>
              </div>

              <div class="form-actions center-me" style="float: right">
                <button type="submit" class="btn">Salvar</button>
              </div>
            </form>
        </div>
    </div>
</div>