<header class="action-bar">
    <a href="javascript: void(0);" class="app-icon action">
      <i class="icon-fries fa fa-file-text"></i>
    </a>
    <h1 class="title">MyNotes</h1>
</header>


<div class="content">
    <nav class="tab-fixed">
      <ul class="tab-inner">
        <li class="active"><a href="#/list" data-ignore="true"><i class="fa fa-list fa-2x"></i></a></li>
        <li><a href="#/add" data-ignore="true"><i class="fa fa-plus-circle fa-2x"></i></a></li>
      </ul>
    </nav>
    
	<div class="app-content content">
		<ul>
          <li id="people" class="tab-item active">
            <ul class="list inset">
              <li class="list-divider">ANOTAÇÕES</li>
              
              <li class="list-item-multi-line selectable" ng-repeat="item in itens">
                  <a href="#/show/{{item.id}}">
                      <h4 class='title-agenda'>{{item.title}}</h4>
                      <p>{{item.date | date : 'dd/MM/yyyy'}} às {{item.date | date : 'H:mm'}}</p>
                  </a>
              </li>
            </ul>
          </li>
        </ul>
	</div>
</div>