<header class="action-bar">
    <a href="#/list" class="app-icon action">
      <i class="icon-up-button"></i>
      <i class="icon-fries fa fa-file-text"></i>
    </a>
    <h1 class="title">MyNotes</h1>
</header>
  
<div class="content">
    <div class="app-content">
        <ul>
          <li class="tab-item active">
            <ul class="list inset">
              <li class="list-divider">{{note.title}}</li>
            </ul>
          </li>
        </ul>
        
        <div class="flex-group inset">
            {{note.content}}
        </div>
    </div>
</div>